*.iml
.gitignore.swp
build/
.gradle/
.idea/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
app/src/test/
app/src/androidTest/
app/proguard-rules.pro
app/libs/
app/*.iml
app/build/
/build
/captures
.externalNativeBuild
.cxx
local.properties
